<div *ngIf="showLoader" class="flex items-center justify-center min-h-screen">
  <!-- Tailwind CSS spinner -->
  <div class="w-16 h-16 border-4 border-dashed border-blue-600 rounded-full animate-spin"></div>
</div>
<div *ngIf="!showLoader">
  <div *ngIf="cartQuantityMap.size > 0; else noCartData">
    <div *ngFor="let item of cartQuantityMap | keyvalue">
      <div class="flex border-b p-2">
        <div class="flex-grow">
          <p class="mr-5">{{ (getProduct(item.key))?.title }}</p>
          <p class="font-extrabold">Quantity: {{ item.value }} | Price: {{ getProduct(item.key)?.price }}</p>
        </div>

        <div class="flex space-x-2">
          <!-- Add Quantity Button -->
          <button class="mr-5 p-2 rounded-md bg-blue-600 text-white"
            (click)="updateQuantity(item.key, item.value + 1,'add')" style="cursor: pointer;">
            Add Quantity
          </button>

          <!-- Remove Quantity Button (Disables if Quantity <= 1) -->
          <button class="mr-5 p-2 rounded-md bg-red-600 text-white"
            (click)="updateQuantity(item.key, item.value - 1,'remove')" [disabled]="item.value <= 1"
            style="cursor: pointer;">
            Remove Quantity
          </button>

          <!-- Remove Product Button -->
          <button class="p-2 rounded-md bg-red-900 text-white" (click)="removeFromCart(item.key)"
            style="cursor: pointer;">
            Remove Product
          </button>
        </div>
      </div>
    </div>
    <div class="total price mt-5">
      <span class="font-bold"> Total Price : {{ calTotalPrice() | currency }}</span>
      <button class="mt-4 bg-blue-600 ml-3" (click)="orderCheckout()" mat-raised-button
        style="cursor: pointer; padding: 8px; border-radius: 10px; color: white;">
        Checkout
      </button>
    </div>
  </div>
  <ng-template #noCartData>
    <div class="flex items-center justify-center">
      <div class="bg-white p-8 rounded-lg shadow-lg text-center">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">No items in Cart.</h2>
        <p class="text-gray-600">Add items to proceed with Checkout</p>
      </div>
    </div>
  </ng-template>

</div>