<div class="h-screen flex items-center justify-center">
    <mat-card style="background-color:gainsboro;" class="w-full sm:w-120 p-10 rounded-lg shadow-lg">
        <h2 class="text-center text-2xl font-semibold text-gray-700 mb-6">Sign Up</h2>

        <form [formGroup]="signUpForm">
            <mat-form-field class="w-full mb-4">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text" placeholder="Enter your name" required />
                <mat-error *ngIf="signUpForm.controls['name'].invalid && signUpForm.controls['name'].touched">
                    Please enter your name.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full mb-4">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email" placeholder="Enter your email" required />
                <mat-error *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">
                    Please enter a valid email.
                </mat-error>
            </mat-form-field>


            <mat-form-field class="w-full mb-4">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" placeholder="Enter your password" required />
                <mat-error *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
                    Please enter your password.
                </mat-error>
            </mat-form-field>


            <mat-form-field class="w-full mb-6">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPassword" matInput type="password" placeholder="Confirm your password"
                    required />
                <mat-error
                    *ngIf="signUpForm.controls['confirmPassword'].invalid && signUpForm.controls['confirmPassword'].touched">
                    Please confirm your password.
                </mat-error>
            </mat-form-field>

            <button [disabled]="disableSignUpButton" [ngClass]="disableSignUpButton ? 'bg-gray-600': 'bg-blue-600'"
                (click)="signUp()" class="w-full bg-blue-600" mat-raised-button
                style="cursor:  pointer; padding: 20px; border-radius: 10px; color: white;">
                Sign Up
            </button>
            <button routerLink="signIn" class="w-full mt-4 bg-blue-600" mat-raised-button
                style="cursor: pointer; padding: 20px; border-radius: 10px; color: white;">
                Sign In
            </button>
        </form>

        <div class="mt-4">
            <mat-error>{{err}}</mat-error>
        </div>
    </mat-card>
</div>