<header class="bg-blue-600 text-white p-4 shadow-md fixed w-full top-0 z-10">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Left side: Logo -->
    <h1 class="text-xl font-bold mr-4">StupaEcom</h1>

    <!-- Centered navigation links -->
    <div class="flex flex-grow justify-center">
      <nav>
        <ul class="flex space-x-4" style="gap:2rem">
          <li><a routerLink="/products" class="hover:underline">Products</a></li>
          <li><a [routerLink]="['/products/cart']" class="hover:underline">Cart</a></li>
        </ul>
      </nav>
    </div>

    <!-- Right side: Profile & Logout -->
    <div class="flex items-center ml-auto">
      <div *ngIf="isAuthenticated | async" class="flex items-center">
        <!-- Profile Image next to the user's name -->
        <img
          src="{{ currUser.avatar }}"
          alt="Profile Image"
          class="w-8 h-8 rounded-full mr-2"
        />
        <span class="mr-2 font-extrabold pr-1">{{ currUser.name }}</span>
        
        <!-- Logout link -->
        <a (click)="logOut()" class="hover:underline cursor-pointer">Logout</a>
      </div>
    </div>
  </div>
</header>

<!-- Content below header -->
<nav class="mt-16 p-4 bg-gray-100 min-h-screen">
  <div class="container mx-auto">
    <router-outlet></router-outlet>
  </div>
</nav>
